.expert {
    margin-top: 8%;
    padding-top: 6%;
    padding-left: 6vw;
    background-image: url(images/gym-expert.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}
.block-expert {
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
    margin: 0 50px;
    color: #ffffff;
}
.block-expert h3{
    margin-bottom: 15px;
    color: #38B143;
}
.block-expert p {
    font-size: 1.1rem;
    margin-top: 70px;
    margin-bottom: 200px;
}

/******************************* MOBILE *********************************/

@media screen and (max-width:950px) {
    .block-expert{
        text-align: center;
        width: 80%;
        margin-top: 100px;
        margin-left: 5%;
    }
    .block-expert p{
        font-size: 1rem;
    }
}