.grid-footer {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  align-items: start;
  justify-content: center;
  background-image: url(images/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0 40px;
}

.grid-footer div {
  color: #ffffff;
}
.coluna-footer {
  margin-top: 100px;
  text-align: center;
}

.coluna-footer-1 p,
.depoimento {
  margin-top: 40px;
  font-size: 0.9rem;
}
.redes-sociais {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.coluna-footer a,
.coluna-footer-1 i a {
  color: #38b143;
}
.coluna-footer a:hover {
  color: #fff;
  transition: 0.6s;
}
.coluna-footer-1 i a:hover {
  color: #ffffff;
  background-color: #38b143;
  padding: 5px;
  border-radius: 20px;
  transition: 0.6s;
}
.nome-depoimento {
  font-style: italic;
  font-size: 0.8rem;
  color: #38b143;
  font-weight: bold;
}
.coluna-aulas h3,
.coluna-contato h3 {
  margin-bottom: 40px;
}
.coluna-aulas a {
  color: #38b143;
  line-height: 2rem;
}
.coluna-aulas a:hover {
  color: #015008;
  transition: 0.6s;
}
.coluna-contato a {
  color: #fff;
}
.coluna-contato a:hover {
  color: #38b143;
}
.coluna-contato p,
.coluna-contato a {
  font-size: 0.825rem;
  margin-bottom: 15px;
}
.copyright p,
.copyright a {
  background-color: #000;
  text-align: center;
  color: #ffffff;
  font-size: 0.825rem;
}
.copyright a {
  color: #38b143;
}

/***************************** MOBILE ********************************/
@media (max-width: 1161px) {
  .grid-footer {
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  .coluna-aulas,
  .coluna-contato {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .grid-footer {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin: 40px 0 0 0;
  }
  .coluna-footer {
    margin-bottom: 0;
    max-width: 90%;
    margin-top: 60px;
  }
  .coluna-footer-depoimento,
  .coluna-footer-1 {
    margin-left: 0;
  }
}
