.container {
    display: flex;
    padding-top: 30px;
}
header.main-home {    
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 20px;
    position: relative;
}
#img-home{
    position: absolute;
    width: 100%;
    filter: brightness(40%);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
    height: 100vh;
}
#navbar {
    position: fixed;
}
#navbar > ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 80px;
}
.title-karla {
    margin-right: 200px;
}
.demo-text, h1{
    margin-left: 100px;
}
.demo-text{
    font-size: 16px;
}
#seta-topo {
    color:#ccc;
    background-image: linear-gradient(45deg, #8cc745, #3DB344);
    box-shadow: 2px 2px 1px #000;
    padding: 15px;
    position: fixed;
    left: 1400px;
}
a.seja-membro:hover,
a.title-karla:hover,
.footer-karla:hover {
    color: rgb(124,192,77);
    background-color: black;
    opacity: 0.8;
    transition: 0.6s;
}
h1{
    font-size:70px;
    margin-bottom: 20px;
}
.section-home {
    margin-top: 220px;
}
.p-membro{
    margin-top: 100px;
    text-align: center;
}
a.seja-membro,
.title-karla,
.footer-karla{
    border: 5px solid;
    border-color:rgb(172,222,86);
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
}
h2{
    font-size: 40px;
}
h3{
    color: #A2D553;
}
.icon {
    display: none;
}

/***********************Mobile*************************************************/

@media (max-width: 1400px) {
    #navbar > ul li{
        margin-right: 4rem;
    }
    .title-karla {
        margin-right: auto;
    }
}
@media (max-width: 1120px) {
    #navbar > ul li{
        margin-right: 2rem;
    }
    .title-karla {
        margin-right: 2px;
    }
}
@media (max-width: 1000px){
    i.fa-bars {
        display: block;
    }
}