img#img-home {
    display: block;
    position: absolute;
    opacity: 0.97;
    height: 115%;
    width: 100%;
    top: 0%;
    z-index: -1;
}
.section-home {
    display: grid;
    margin-top: 15%;
    margin-left: 8vw;
}
.section-home h1 {
    font-size: 5.1rem;
    font-weight: 400;
}
.section-home p {
    font-size: 1.05rem;
}
.section-home h1, .section-home p {
    color: #ffffff;
}
.container-home {
    width: 70%;
}
.p-membro {
    text-align: center;
    margin-top: 11%;
    margin-bottom: 25%;
}
.p-membro a {
    border: 5px solid #38B043;
    border-radius: 8px;
    padding: 15px 40px;
    background-color: rgba(0,0,0,.5);
    color: #38B043;
}
.p-membro a:hover {
    color: #ffffff;
    background-color:#38B043;
    opacity: 1;
    transition: 0.6s;
}

/******************************** MOBILE *********************************/
@media screen and (max-width:950px) {
    img#img-home {
        height: 90%;
        width: 100%;
    }
    .container-home {
        width: 100%;
    }
    .section-home {
        margin-top: 18%;
    }
    .section-home h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 50px;
    }
    .section-home p {
        font-size: 1rem;
        margin-bottom: 30px;
    }
}