.header {
  background: url('./images/home1.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  animation: fadeIn .6s linear forwards;
}

.animation {
  animation: fadeIn .6s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: .5;
  } to {
    opacity: 1;
  }
}
.section-home {
  padding-top: 200px;
}
.section-home h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.section-home p {
  font-size: 1rem;
  max-width: 900px;
}
.section-home h1,
.section-home p {
  color: #ffffff;
}
.container-home {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
.botao-membro {
  text-align: center;
  margin-top: 70px;
}
.botao-membro a {
  border: 5px solid #38b043;
  border-radius: 8px;
  padding: 20px;
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #38b043;
  transition: .4s;
  display: block;
  margin: 0 auto;
}
.botao-membro a:hover {
  color: #ffffff;
  background-color: #38b043;
  transition: .4s;
  opacity: 1;
}

/******************************** MOBILE *********************************/
@media (max-width: 1100px) {
  .p-membro {
    margin-top: 100px;
  }
  .section-home p {
    font-size: 0.825rem;
  }
}

@media (max-width:823px) {
  .section-home {
    padding-top: 100px;
  }
}

@media (max-width: 414px) {
  .container-home {
    max-width: 90%;
  }
  .section-home h1 {
    font-size: 1.5rem;
  }
  .section-home p {
    font-size: 0.825rem;
  }
}