header.header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0%;
}
header a, nav ul {
    padding: 40px;
    color: #ffffff;
}
.title-karla:hover {
    background-color: #38b143;
    transition: 0.6s;
    color: #ffffff;
}
header a:hover {
    color: #38b143;
    transition: 0.6s;
}

nav ul {
    display: flex;
}
.nav-fixed-on {
    background-color: #000000;
    width: 100%;
    opacity: 0.98;
    top: 0px;
    z-index: 1;
}
.nav-fixed-off {
    background-color: transparent;
}

/******************************** MOBILE ************************************/

@media screen and (max-width:1190px) {
    header a, nav ul {
        padding: 15px;
    }
}
@media screen and (max-width:950px) {
    #navbar ul li a {
        position:absolute;
        left: 1000px;
    }
    header a {
        margin: 0 auto;
    }
    .section-home {
        margin-bottom: 90px;
    }
}