#navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 5;
}
.header a,
nav ul li a {
  padding: 20px;
  color: #ffffff;
  font-size: 1.125rem;
}
#navbar ul li a:hover {
  color: #38b143;
  transition: .5s;
}

.title-karla:hover {
  background-color: #38b143;
  transition: 0.6s;
  color: #ffffff;
}
.header a:hover {
  transition: 0.6s;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}
.nav-fixed-on {
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}
.nav-fixed-off {
  background-color: transparent;
}

/******************************** MOBILE ************************************/

@media screen and (max-width: 992px) {
  #navbar ul li a {
    display: none;
  }
}
