.precos {
  background-image: url(images/price-paralax.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.grid-precos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 90vh;
}

.column-precos {
  background-color: #ffffff;
  max-width: 90%;
  height: 85%;
}
.desc-preco {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-preco a {
  display: block;
  color: #38b143;
  border: 1px solid #38b143;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.desc-preco ul li::before {
  content: "• ";
}
.column-precos h3 {
  margin-top: 5%;
  margin-bottom: 10px;
}
.column-precos li {
  font-size: 0.825rem;
  line-height: 1.2rem;
}
.column-precos ul {
  margin-bottom: 20px;
}
.column-precos a:hover {
  border: 1px solid #38b143;
  background-color: #38b143;
  border-radius: 20px;
  color: #ffffff;
}
.valor {
  font-size: 2rem;
  color: #38b143;
  font-weight: bold;
}

/******************************** MOBILE **********************************/
@media (max-width: 1025px) and (max-height: 569px) {
  .precos {
    height: 100vh;
  }
  .grid-precos {
    height: 100vh;
  }
  .column-precos {
    height: 75vh;
  }
  .column-precos img {
    width: 100%;
  }
}
@media (max-width: 1025px) and (max-height: 1366px) {
  .precos {
    height: 55vh;
  }
  .grid-precos {
    height: 55vh;
  }
  .column-precos {
    height: 35vh;
  }
}

@media (max-width: 414px) {
  .grid-precos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .precos {
    height: 100%;
  }
  .grid-precos {
    height: 70%;
  }
  .column-precos {
    height: 65vh;
    margin: 20px 0;
  }
}
