.precos {
  background-image: url(images/price-paralax.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.grid-precos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.column-precos {
  background-color: #ffffff;
  max-width: 700px;
  height: 500px;
}
.desc-preco {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-preco a {
  display: block;
  color: #38b143;
  border: 1px solid #38b143;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.desc-preco ul li::before {
  content: "• ";
}
.column-precos h3 {
  margin-top: 5%;
  margin-bottom: 10px;
}
.column-precos li {
  font-size: 0.825rem;
  line-height: 1.2rem;
}
.column-precos ul {
  margin-bottom: 20px;
}
.column-precos a:hover {
  border: 1px solid #38b143;
  background-color: #38b143;
  border-radius: 20px;
  color: #ffffff;
}
.valor {
  font-size: 2rem;
  color: #38b143;
  font-weight: bold;
}

/******************************** MOBILE **********************************/
@media (max-width: 1120px) {
  .precos {
    height: 1600px;
  }
  .grid-precos {
    display: flex;
    flex-direction: column;
  }
  .column-precos {
    margin-top: 50px;
  }
}

@media (max-width:360px) {
  .column-precos,
  .column-precos img {
    max-width: 300px;
  }
}
