.servicos {
  margin: 50px 0;
}
.grid-servicos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.servicos-content {
  max-width: 300px;
  text-align: center;
}
.topo {
  margin-top: 50px;
}
.servicos-content p {
  font-size: 1rem;
  margin-top: 10px;
}

/************************** MOBILE ************************************/
@media (max-width: 950px) {
  .grid-servicos {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 689px) {
  .grid-servicos {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .topo-mobile {
    margin-top: 50px;
  }
}
