.servicos {
    margin: 8% 0px 8% 150px;
}
.grid-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.servicos-content {
    max-width: 320px;
}
.servicos-content h3 {
    margin-top: 30px;
}
.servicos-content p{
    font-size: 1rem;
    margin-top: 10px;
}



/************************** MOBILE ************************************/
@media screen and (max-width:950px) {
    .grid-servicos {
        display: flex;
        flex-wrap: wrap;
    }
}